
@import "../../_variables.sass"

.chain_view
    height: 100%

    .wrapper_inner
        position: absolute

        & > ul 
            padding: 0
            clear: both
            display: flex
            flex-direction: row

            & > li
                list-style: none
                cursor: pointer 